.btn-adicionar {
  background: #00c853;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.produto-card {
  background: #111;
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preco {
  color: #00ff7f;
}

#contador-carrinho {
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 5px;
}

